.git
.codegraph
build*/
debug/
dist/
deps/
plugins/*/
!plugins/CMakeLists.txt
!plugins/plugin.cc
!plugins/plugins_module.cc
bin/*
lib/*
share/*
include/leveldb/
include/marisa/
include/marisa.h
include/opencc/
include/yaml-cpp/
