[submodule "thirdparty/src/glog"]
	path = deps/glog
	url = https://github.com/google/glog.git
[submodule "thirdparty/src/leveldb"]
	path = deps/leveldb
	url = https://github.com/google/leveldb.git
[submodule "thirdparty/src/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/src/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/src/marisa-trie"]
	path = deps/marisa-trie
	url = https://github.com/s-yata/marisa-trie.git
[submodule "thirdparty/src/opencc"]
	path = deps/opencc
	url = https://github.com/BYVoid/OpenCC.git
