build/
build-static/
debug-build/
vcbuild/
vcbuild-static/
xbuild/
xdebug/
data/*
data/preset
data/supplement
data/extra
thirdparty/include/*
thirdparty/lib/*
thirdparty/bin/*
thirdparty/src/opencc-windows/*.def
thirdparty/src/opencc-windows/*.exp
thirdparty/src/opencc-windows/*.lib
env.bat
*~
.*.swp
