[submodule "thirdparty/src/glog"]
	path = thirdparty/src/glog
	url = https://github.com/lotem/google-glog.git
[submodule "thirdparty/src/kyotocabinet"]
	path = thirdparty/src/kyotocabinet
	url = https://github.com/lotem/kyotocabinet-treedb.git
[submodule "thirdparty/src/opencc"]
	path = thirdparty/src/opencc
	url = https://github.com/BYVoid/OpenCC.git
[submodule "thirdparty/src/yaml-cpp"]
	path = thirdparty/src/yaml-cpp
	url = https://github.com/lotem/yaml-cpp.git
[submodule "thirdparty/src/gtest"]
	path = thirdparty/src/gtest
	url = https://github.com/tomgr/googletest-mirror.git
[submodule "thirdparty/src/marisa-trie"]
	path = thirdparty/src/marisa-trie
	url = https://github.com/lotem/marisa-trie.git
