build/
build-static/
debug-build/
vcbuild/
xbuild/
xdebug/
data/*
data/preset
data/supplement
data/extra
thirdparty/include/*
thirdparty/lib/*
thirdparty/bin/*
thirdparty/src/leveldb-windows
env.bat
*~
.*.swp
.ycm_extra_conf.pyc
