rem environment settings
set RIME_ROOT=%CD%
set BOOST_ROOT=\code\boost_1_60_0
set CMAKE_INSTALL_PATH=C:\Program Files (x86)\CMake
set GIT_INSTALL_PATH=C:\Program Files (x86)\Git
set VS_INSTALL_PATH=C:\Program Files (x86)\Microsoft Visual Studio 14.0
