<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_chrono" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_date_time" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_filesystem" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_regex" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_system" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_thread" version="1.55.0.16" targetFramework="Native" />
</packages>